<div class="container">
  <div class="jumbotron">
    <h1 class="mainHeader">Scraped Data of some sort</h1>
  </div>

  <div id="city">

    


    <div id="input-area">
      <textarea id="input-box" rows="4" cols="50"></textarea>
      <div id="note-button">
        <img src="http://www.iconarchive.com/download/i34209/treetog/i/Floppy-Small.ico" class="button">
      </div>
    </div>

    <div id="saved-area">
      <textarea readonly id="note-box" rows="4" cols="50"></textarea>
      <div id="delete-button">
        <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/garbage_can.png" class="button">
      </div>
    </div>

    <section class="container">
      <div id="headline"></div>
      <div id="cube">
        <figure class="front">
          <div id="face-color"></div>
        </figure>
        <figure class="back">
          <div id="face-color"></div>
        </figure>
        <figure class="right">
          <div id="face-color"></div>
        </figure>
        <figure class="left">
          <div id="face-color"></div>
        </figure>
        <figure class="top">
          <div id="face-color"></div>
        </figure>
        <figure class="bottom">
          <div id="face-color"></div>
        </figure>
      </div>
    </section>


    <div id="seek-box"></div>
  </div>
</div>